
*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

ul, li{
    list-style: none;
}

a{
    color: #000;
    text-decoration: none;
}



/* Fim do reset */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FAFAFA;
    color: #fff;
}

.menu-links{
    display: flex;
    gap: 30px;
}

.menu-btn{
    display: none;
}

.menu-btn button{
    background-color: transparent;
    color: #000;
    border: none;
    font-size: 30px;
}

.menu-mobile{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    transition: 0.3s;
    display: none;
}
 
.perfil-btns{
    
    border-radius: 17px;
    background-color: #2A5CBF;
}
#teste-perfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding: 5px 9px 5px 9px;
    color: #FAFAFA;
    font-size: 16px;
    cursor: pointer;
}
#teste-perfil:hover{
    background-color: #ff6600;
    color: #FAFAFA;
    border-radius: 17px;
}
img.img-perfil{
    max-width: 18px;
}
img.img-seta{
    max-width: 15px;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

ul, li{
    list-style: none;
}

a{
    color: #000;
    text-decoration: none;
}



.active{
    display: flex;
}

@media (max-width: 768px) {

    .menu-btn{
        display: block;
    }

    .login-btns,
    .menu-links{
        display: none;
    }
    
}