
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos do cabeçalho (classe "entrar") */
.entrar {
    padding: 40px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Estilos de parágrafos */
p{
    text-align: center;
    color: #717070;
}

/* Estilos do título */
h1 {
    color: #2A5CBF;
}

/* Estilos do formulário (classe "formulario-entrar") */
.formulario-entrar form{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* Estilos dos inputs do formulário */
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 3px;
    border-color: #8E8E8E;
}

/* Estilos do botão do formulário (classe "formulario-entrar") */

button#entrar-btn {
    width: 500px;
    background-color: #007bff;
    color: #fff;
    padding: 14px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button#entrar-btn:hover {
    background-color: #074f9b;
}


/* Estilos do rodapé (elemento "footer") */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FAFAFA;
    margin-top: 40px;
}

/* Estilos dos links no rodapé (classe "footer-links") */
.footer-links {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 20px;

}

.footer-links img {
    width: 100px;
}

/* Estilos das redes sociais no rodapé (classe "footer-redes") */
.footer-redes {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content:right;
    padding-right: 20px;
}

.icone-rede {
    width: 40px;
    height: 40px;
    background-color: rgb(213, 213, 213);
    box-shadow: 0 0 5px rgba(225, 225, 225, 0.5);
    border-radius: 50%;
}

/* Estilos responsivos*/
@media (max-width: 768px) {

    .entrar {
        padding: 20px;
    }

    /* Ajuste imagem inicial*/
    .entrar img{
        width: 200px;

    }

    h1{
        font-size: 28px;
    }

    input {
        padding: 8px;
        font-size: 14px;
    }

    /* Ajuste tamanho do form mobile*/
    .formulario-entrar form{
        max-width: 300px;
    }

    button#entrar-btn {
        padding: 12px;
        max-width: 300px;
    }

    /* Ajuste para footer mobile*/
    footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .footer-links {
        gap: 10px;
        flex-direction: column;
        text-decoration: underline;
    }

}